<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= sales_orders_url %>">Sales Orders</a> <span class="divider">/</span></li>
  <li class="active">New Sales Order</li>
</ul>
<legend>New Sales Order</legend>
<%= render 'form' %>