<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="<%= sales_orders_url %>">Sales Orders</a> <span class="divider">/</span></li>
  <li class="active">Edit Sales Order <%= @sales_order.id %></li>
</ul>
<legend>Edit Sales Order <%= @sales_order.id %></legend>
<%= render 'form' %>
